.activities-card {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 40vh;
  border-radius: 30px 30px 0 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $black;
}

.activities-card--corner-box {
  padding: 1.8rem 3rem 1.8rem 1.5rem;
  border-radius: 0 70px 0 30px;
  background-color: $light-purple;
  opacity: 85%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: left;
  gap: 0.4rem;
  width: 100%;
}

.activities-cards-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 55%;
  overflow-x: auto;
  position: relative;
  width: 100%;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}
