.calendar--card {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 20px;
  background-color: $light-grey;
  border: solid 0.15rem $medium-grey;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 1rem 1rem 1.5rem;
  height: 15vh;
}

.calendar--title {
    font-weight: $font-weight-semi-bold;
}
