.search {
  font-size: 1.3rem;
  color: $grey;
  font-weight: 900;
  &--input-field {
    font-size:1rem;
  }
}

.menu-icon {
  font-size: 1.8rem;
  font-weight: 900;
  color: $black;
  &--calendar {
    font-size: 1.6rem;
  }
  &--search {
    font-size: 1.3rem;
  }
}
