.heading2 {
  color: $white;
  font-size: 2.2rem;
  font-weight: $font-weight-regular;
}
.heading3 {
  color: $black;
  font-size: 1.55rem;
  font-weight: $font-weight-regular;
}

.heading4 {
  color: $black;
  font-size: 1.6rem;
  font-weight: $font-weight-bold;
}

.heading5 {
  color: $black;
  font-size: 1.25rem;
  font-weight: $font-weight-medium;
  word-spacing: 0.1rem;
}

//sub-heading
.sub-heading {
  display: flex;
  flex-flow: row nowrap;
  color: $white;
  &--line {
    border-top: 0.25rem solid $white;
    width: 1.5rem;
    align-self: center;
    margin-right: 0.6rem;
    &-black {
      border-top: 0.25rem solid $black;
    }
  }
  &--text {
    font-weight: $font-weight-bold;
    font-size: 1.4rem;
    word-spacing: 0.1rem;
  }
}

.paragraf {
  color: $black;
  font-size: 1.2rem;
  line-height: 1.55rem;
  font-weight: $font-weight-regular;
  text-transform: capitalize;
}
