//colors

$purple: #5e2e53;
$light-purple: #e1a1e9;
$black: #262626;
$grey: #eaeaea;
$light-grey: #e9e9e9;
$white: #ffffff;

//fonts
$font: "Ubuntu", sans-serif;
$logo-font-1: "Racing Sans One", cursive;
$logo-font-2: "Roboto", sans-serif;

//font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
