//colors

$purple: #5E2E53;
$light-purple: #E1A1E9;
$black: #262626;
$grey: #EAEAEA;
$white: #ffffff;

//fonts
$font: "poppins", sans-serif;

//font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
