.login--all-content-wrapper {
  overflow-y: hidden !important;
  overflow-x: hidden !important;

  height: 100vh;
  width: 100vw;
}

.login--background-img {
  background: url(../../../public/images/splash-image.jpg) left top repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  gap: 0rem;
  padding: 2.5rem;
}

.login--grey-box-decoration {
  position: absolute;
  left: -12rem;
  top: 18vh;
  transform: rotate(-30deg);
  opacity: 45%;
  height: 60vh;
  width: 200vw;
  z-index: 10;
  background-color: $purple;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.login--form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  margin: 1rem 0 0 0;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.login--input {
  background-color: $white;
  border: solid 0.1rem $grey;
  text-indent: 2rem;
  cursor: pointer;
  z-index: 20;
  width: 100%;
  height: 7vh;
  &::placeholder {
    color: darken($grey, 20%);
    font-size: 1.2rem;
  }
}

.login--form-heading {
  font-size: 3rem;
  z-index: 20;
}

.login--err-msg {
  padding: 1.5rem 2rem;
  background-color: $light-purple;
  margin: 1rem 0;
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.login--err-msg-block {
  display: block;
}
.login--err-msg-none {
  display: none;
}


.login--btn {
  width: 75%;
  padding: 1rem;
  z-index: 20;
}

