.welcome--background-img {
  background: url(../../../public/images/splash-image.jpg) left top repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.welcome--main-wrapper {
  display: flex;
  flex-flow: column-reverse nowrap;
  z-index: 1;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.welcome--logo-text {
  position: absolute;
  top: 50vh;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  z-index: 10;
}

.welcome--logo-text {
  padding: 0 1rem 1.7rem 3rem;
  line-height: 3.1rem;
  border-bottom: 1rem solid #913693;
  box-shadow: -1rem 0.3rem 0.15rem rgba(67, 65, 65, 0.35);
}
.welcome--title {
  font-family: $logo-font-2;
  text-transform: uppercase;
  font-size: 2.75rem;
  font-weight: bolder;
  display: block;
  letter-spacing: -0.15rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: $black;
  -webkit-text-stroke-width: 2px;
  &-span {
    font-family: $logo-font-1;
    display: block;
    font-size: 5.5rem;
    -webkit-text-fill-color: #e15cf2;
    -webkit-text-stroke-color: $black;
    -webkit-text-stroke-width: 0.1px;
    transition: all 0.55s ease;
    animation: animateFonts 0.55s ease;
  }
}

.welcome--btn {
  margin: 0 0 2rem 0;
  transition: all 1.5s;
  animation: animate 1.5s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animateFonts {
  0% {
    font-family: $logo-font-1;
    opacity: 0;
  }
  50% {
    font-family: $logo-font-1;
    opacity: 0.5;
  }
  75% {
    font-family: $logo-font-1;
    opacity: 0.75;
  }
  100% {
    font-family: $logo-font-1;
    opacity: 1;
  }
}
